<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chats</title>
</head>
<body>
    <form method="post" action="/chats">
        <input placeholder="enter username"  name="from"/> <br><br>
        <textarea  name="msg">Write your message here </textarea> <br> 
        <input placeholder="Add Reciver"  name="to"/>
        <button>Submit posts</button>
    </form>
    
</body>
</html>